@import "./mixins";

body {
  min-height: 100vh;
}

.main {
  margin: 0 auto;
  min-height: 100vh;
  background-color: white;
}

@include mobile {
  body {
    background-color: red;
  }
}

@include tablet {
  body {
    background-color: yellow;
  }
}

@include desktop {
  body {
    background-color: green;

    .main {
      max-width: 1024px;
    }
  }
}
